@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    
}

.h2 {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
}

.p{
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
}

.em {
    font-family: "Rubik, sans-serif";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.small {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;

}

.color-primary {
    color: #50ad9c
}

.color-text {
    color: #1a1a1a
}

.color-text-muted {
    color: #808080
}

.color-gray-light {
    color: #EEEEEE
}
.bg-color-primary {
    color: #50ad9c
}

.bg-color-text {
    color: #1a1a1a
}

.bg-color-text-muted {
    color: #808080
}

.bg-color-gray-light {
    color: #EEEEEE
}

/*

Link styles

*/

a.active {
   color: #50ad9c;
   text-decoration: underline; 
}

a:hover {
    text-decoration: underline;
}

/*

header navigation styles

*/

.navigation {
    text-align: center;
    
}

.navigation-item:nth-child(n + 2) {
    margin-left: 32px;
}

.logo {
    
    height: 64px;
    width: auto;
    display: block;
    margin: 0 auto; 
    margin-top: 80px;
    
    
}

.navigation {
    margin-top: 16px;
}

/*footer stiyle*/

.footer {
    text-align: center;
}

.wrapper {
    height: auto;
    width: 100%;
    max-width: 1120px;
    border: 1px solid rgb(39, 90, 199);
    margin-left:auto;
    margin-right: auto;
    box-sizing: border-box;
    
}

.featur-metadata-item:nth-child(n+2): ::before  {
    content: "-";
    margin: 0 8px;
}

.footer {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.header {
    margin-top: 80px;
    margin-bottom: 80px;
}
.main {
    margin-top: 80px;
}